<div class="header">
    <img src="https://www.zerodha.com/static/images/logo.svg" alt="zerodha" width="140px">
    <!-- /public/logo.svg __ <img src="/public/logo.png" alt="zerodha" width="140px"> -->
    <ul>
        <li>Signup</li>
        <li>About</li>
        <li>Product</li>
        <li>Pricing</li>
        <li>Support</li>
        <li><img src="icon.png" alt=""></li>

    </ul>
    <!-- <img src="menu.png" alt="menu" width="30px"> -->
    <!-- <img src="https://cdn-icons-png.flaticon.com/512/1828/1828859.png" title="open menu icons" alt="menu" width="20rem"> -->
</div>