<<<<<<< HEAD
.footer{
=======
/* .footer{
>>>>>>> a60a0e4 (Second Commit)
    background-color: #fbfbfb;
    padding-left: 50px;
    padding-right: 40px;
    display: flex;
<<<<<<< HEAD
}  

#first{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    color: #666;
    padding-left: 3.75rem;
    padding-right: 10rem;
    /* padding-top: 3.125rem; */
}

.second{
    display: flex;
    justify-content: space-evenly;
=======
} */

#first{
    display: flex;
    justify-content: space-between;
    padding-left: 3.75rem;
    padding-right: 10rem;
>>>>>>> a60a0e4 (Second Commit)
}