/* .footer{
    background-color: #fbfbfb;
    padding-left: 50px;
    padding-right: 40px;
    display: flex;
} */

#first{
    display: flex;
    justify-content: space-between;
    padding-left: 3.75rem;
    padding-right: 10rem;
}